@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.today-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans serif;
  font-size: 2rem;
}

.weather-icons {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.weather-icons {
  margin-top: 1rem;
}

.weather-icons img,
.sunrise-sunset img {
  height: 24px;
  margin-right: 4px;
  width: 24px;
}

.weather-icons span {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  margin: 0 0.5rem;
}

.sunrise-sunset {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.sunrise-sunset div {
  margin-bottom: 1rem;
}

.sunrise-sunset span {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
