@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.error__loc {
  color: black;
  font-size: 36px;
  font-weight: bold;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  background: rgba(123, 131, 151, 0.2);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  height: 300px;
  padding: 20px;
}
